.button {
    background: #F3F3F3;
}

header {
    position: relative;
    z-index: 40;
    box-sizing: border-box;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-2 {
    list-style-type: none;
    display: flex;
}

.content-3 {
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.prod-title {
    font-size: 30px;
    margin-bottom: 15px;
}

.box {
    max-width: 850px;
    height: 400px;
    display: flex;
    align-items: center;
    background: #9A1212;
    border-radius: 70px;
}

.box p{
    font-size: 20px;
    color: white;
    text-align: right;
    padding: 20px;
}

.box img{
    height: 100%;
}

.vetka-3 {
    position: absolute;
    right: 0;
    bottom: 110px;
}

.back {
    position: relative;
    z-index: 40;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 10px;
}
.back a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back:hover {
    transform: scale(1.15);
}

@media screen and (max-width: 1000px){
    .logo {
        display: none;
    }
    header {
        justify-content: center;
        padding-top: 40px;
    }
    .box {
        max-width: 550px;
        height: 320px;
        border-radius: 60px;
    }
}
@media screen and (max-width: 600px) {
    .box {
        max-width: 400px;
        height: 320px;
        margin: 0 10px;
    }
    
    .box p{
        font-size: 14px;
        padding: 10px;
    }
    .prod-title {
        font-size: 25px;
    }

}